.git
.github
.pytest_cache
.env
.env.*
!.env.example
*.key
*.kdbx
*.p12
*.pfx
*.pem
id_ed25519*
id_rsa*
secrets
**/secrets
assets
Audio-Transcription-Chrome
Audio-Transcription-Firefox
Audio-Transcription-iOS
docs
whisper-finetuning
*.pyc
__pycache__
